<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Color Chart</title>
  <script th:inline="javascript">
    let frontendData = [[${frontendData}]];
  </script>
</head>
<body>
<h3>Color chart</h3>
<!--<h3><a href="/login">Google authorize</a></h3>-->
<!--<a href="/producer.html">Add producer</a>-->
<div id="appGoogleAuth"></div>
<script th:src="${isDevMode} ? 'http://localhost:8000/googleAuth.js' : '/js/googleAuth.js'"></script>
</body>
</html>