<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Paint Producer</title>
</head>
<body>
  <h1>Paint Producer</h1>
<form th:action="@{/producer.html}" method="post">
  <label for="producerName">Producer</label>:
  <input type="text" id="producerName" name="producerName" autofocus="autofocus" /><br/>
  <label for="country">Country</label>:
  <input type="text" id="country" name="country" autofocus="autofocus" /><br/>
  <input type="submit" value="Save" />
</form>
</body>
</html>